*{
    box-sizing: border-box;
}


.card{
    width: 18rem;
    margin-inline: 10px;
    margin-block: 10px;
    margin-inline: auto;
}

.card h5{
    --max-lines: 1; 
    overflow: hidden;
     
    display: -webkit-box; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
}

.lessWord{
    --max-lines: 1; 
    overflow: hidden;
     
    display: -webkit-box; 
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
}

.card p{
    font-size: 30px;
    font-weight: bolder;
    
}


.card img{
    height: 30rem;
    object-fit: cover;
}

.btn{
    font-size: 30px;
}

.btn:hover{
    background-color: rgba(211, 211, 211, 0.486);
}


#library{
    display: flex;
    flex-wrap: wrap;
    width: 100vh;
    margin-top: 50px;
    margin-inline: auto;
}

.divCardImage{
    width: 100%;
    height: 200px;
}

body{
    text-align: center;
}

